In [1]:
1 + 1

2

In [2]:
time

Wall time: 0 ns

In [3]:
 print("Hello Anaconda")

Hello Anaconda

In [4]:
l=list("jkdfgkdgj")
l

['j', 'k', 'd', 'f', 'g', 'k', 'd', 'g', 'j']

In [5]:
for fg in l:
    print((fg))

j
k
d
f
g
k
d
g
j

In [6]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = ["Fsdfsf","fsdfs","sdffsfs"]

# variable to store the sum
summ=''

# iterate over the list
for x in numbers:
    summ = summ+x

# Output: The sum is 48
print(summ)

Fsdfsffsdfssdffsfs

In [7]:
list(range(len(genre)-1,0,-2))

NameError: name 'genre' is not defined

In [8]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz','sapna']

# iterate over the list using index
for i in range(len(genre)-1,0,-2):
    print("I like", genre[i])

I like sapna
I like rock

In [9]:
# How is above working ??????

Write a program which will find all such numbers which are divisible by 7 but are not a multipleof 5, between 2000 and 3200 (both included). The numbers obtained should be printed in acomma-separated sequence on a single line.

In [16]:
for i in range(2000,3201):
    if i%7 == 0 and i%5!=0:
        print(i,end=',')
#print ("\b")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [17]:
fname = input(" Enter your first name:- ")
lname = input("Enter your last name:- ")
print(lname," ", fname)

 Enter your first name:- areeb
Enter your last name:- shakir
shakir   areeb

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r
3

In [20]:
d = 12
r = d/2
pi = 3.1415926535897931
v = 4/3*pi*r**3
v

904.7786842338603

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [23]:
l[]= input("Enter a sequence of comma-separated numbers:- ",)

SyntaxError: invalid syntax (<ipython-input-23-aa2d93bcc59f>, line 1)

In [31]:
nums = input("Enter a sequence of comma-separated numbers : ")
list = nums.split(",")
print('List : ',list)

Enter a sequence of comma-separated numbers : 1,3,47 ,8,72
List :  ['1', '3', '47 ', '8', '72']


Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [32]:
for i in range (6):
    print(i * '* ')
for j in range(4, 0, -1):
    print(j * '* ')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [40]:
word = input("Enter a word ")
wordb = word[::-1]
print ("reverse= ",wordb)

Enter a word hello woerld
reverse=  dlreow olleh

Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
    having solemnly resolved to constitute India into a SOVEREIGN, !
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
         and to secure to all its citizens

In [44]:
'WE, THE PEOPLE OF INDIA,'

'WE, THE PEOPLE OF INDIA,'

In [49]:
print('WE, THE PEOPLE OF INDIA,')
print('\thaving solemnly resolved to constitute India into a SOVEREIGN, !'.expandtabs())

WE, THE PEOPLE OF INDIA,
        having solemnly resolved to constitute India into a SOVEREIGN, !

In [50]:
print('WE, THE PEOPLE OF INDIA,')
print('\thaving solemnly resolved to constitute India into a SOVEREIGN, !'.expandtabs())
print('\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC'.expandtabs())

WE, THE PEOPLE OF INDIA,
        having solemnly resolved to constitute India into a SOVEREIGN, !
                SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC

In [51]:
print('WE, THE PEOPLE OF INDIA,')
print('\thaving solemnly resolved to constitute India into a SOVEREIGN, !'.expandtabs())
print('\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC'.expandtabs())
print('\t\tand to secure to all its citizens'.expandtabs())

WE, THE PEOPLE OF INDIA,
        having solemnly resolved to constitute India into a SOVEREIGN, !
                SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                and to secure to all its citizens